/* style pop-up */
@import 'styleHome.css';

.pop-up{
    width: 40%;
    max-height: 400px;
    position: relative;
    padding: 2%;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

/* botao enviar */
.btn-confirm{
  background-color: var(--cor-alternative);
  color: var(--cor-texto);
}

.btn-confirm:hover {
  background-color: #0ba45a;
  color: #f6f1f1ed;
}

/* Botão de sair (X) */
.btn-exit {
  background-color: var(--cor-btnCan);
  color: var(--cor-texto);
}

.btn-exit:hover {
  background-color: #cf0c0c;
  color: #f6f1f1ed;
}

/* label form */
.form-infos {
  background-color: transparent;
  position: relative;
  margin: 10% auto 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inputValue {
  width: 80%;
  margin: 3% auto;
  padding: 12px;
  border: 1px solid var(--cor-link);
  border-radius: 6px;
  background: transparent;
  color: var(--cor-texto);
  font-size: 0.9em;
}

.inputValue:focus {
  border-color: #07a156;
  outline: none;
}

.labelInput {
  margin: 0 70% 0 0;
  color: var(--cor-texto);
}


/* Ícone do calendário no input date (Chrome/Edge) */
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(44%) sepia(74%) saturate(371%) hue-rotate(88deg) brightness(94%) contrast(90%);
}
