@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  --cor-fundo: #121212;
  --cor-container: #1A1A1A;
  --cor-texto: #E0E0E0;
  --cor-borda: #53ffb2af;
  --cor-verde-hover: #00cc6a;
  --cor-input-borda: #2A2A2A;
  --cor-borda-suave: #1F1F1F;
  --cor-link: #8f8f8f;
  --cor-botao-texto: #121212;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background-color: var(--cor-fundo); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa a altura total da tela */
}

/* Container do formulário */
.container {
    background-color: var(--cor-container);
    margin: 80px auto auto;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 1px 1px 10px -6px var(--cor-borda);
    width: 100%;
    max-width: 400px;
    text-align: center;
    animation: animation .5s ease-in-out;
}

/* Título principal */
h1 {
    font-family: "Archivo Narrow", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: var(--cor-texto); 
    margin: 0 0 0.5rem 0;
}

/* Subtítulo */
h2 {
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    color: #718096; /* Cinza médio */
    margin: 0 0 2rem 0;
}

/* Campos de texto (usuário e senha) */
input[type="text"],
input[type="password"] {
    font-family: "Roboto", sans-serif;
    width: 100%;
    padding: 14px;
    margin-bottom: 1rem;
    border: 1px solid #cbd5e0; /* Borda cinza clara */
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box; /* Garante que o padding não aumente a largura */
    transition: border-color 0.2s;
}

/* Efeito ao focar no campo de texto */
input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #4a5568; /* Borda mais escura ao focar */
}

/* Estilo do texto de placeholder */
input::placeholder {
    color: #a0aec0; /* Cinza claro */
}

/* Botão de entrar */
button {
    width: 100%;
    padding: 14px;
    background: linear-gradient(90deg, #2cca83, #24b374);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    margin-top: 1rem; /* Espaço acima do botão */
}

/* Efeito ao passar o mouse sobre o botão */
button:hover {
    transform: translateY(-2px); 
    color: #fff;
    font-weight: 530;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

footer{
  position: absolute;
  bottom: 1px;
  left: 2px;
  background-color: transparent;
  width: 5%;
  animation: animation .5s ease-in-out;
}
footer img{
  width: 100%;
}

@keyframes animation{
  from{
    opacity: 0;
    transform: translateY(-50px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}